[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.9
[submodule "third_party/glew"]
	path = third_party/glew
	url = https://github.com/nigels-com/glew.git
	branch = master
